:root {
  --background-1: #f4f1ea;
  --background-2: #0f172a;
  --background-2a: #121e24;
  --background-3: #ebf0f3;
  --elements-1: #d46a43;
  --elements-2: #38bdf8;
  --elements-2a: #06b6d4;
  --elements-3: #606c38;
  --elements-3a: #6f1d1b;
  --text-1: #2b1e17;
  --text-2: #e2e8f0;
  --text-3: #1e293b;
  --text-3a: #ebf0f3;
  --hover-3: #6f1d1b;
}
